:main
	#Burn cycles waiting for the server to start
	nop
	nop
	nop
	nop
	nop
	nop
	#Write 69 to socket 0
	consti 69
	consti 0
	lksock
	
	#Wait for response from the socket
	consti 0
	rdsock
	drop

	#Return to the head of the loop
	br main

